<div class="container-fluid"><br />
	<div class="row-fluid">
		<div id="adjustingMap" class="span9"></div>
		<div class="span3">
			<p class="row-fluid well">
			The server will only send the <strong>markers in the visible part</strong> of the map.<br>
			Each time the map is moved, a request is sent to server to retrieve the corresponding data.
			</p>
			<div class="row-fluid">
				<label for="limitInput"># of results</label><input type="text" ng-model="limit">
			</div>
		</div>
	</div>
	
</div>
	